<div>
    <h1>WELCOME!</h1>
    <div>
        
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Usuario" value="Usuario"  [(ngModel)] = "user">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" value="Contraseña" [(ngModel)] = "password">
                  </mat-form-field>
    
                  <div  class="example-button">
                     <button mat-button color="primary" (click) = "loginUsers()"><span>Login</span></button>
        </div>
      
    </div>
</div>
